
/* ======================================================= */
/* ====================== <GENERAL> ===================== */
/* ======================================================= */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	list-style: none;
}

a
{
	text-decoration: none;
	color: inherit;
}

body
{
	animation: theme 21s linear infinite;

	&:after,
	&:before
	{
		content: '';
		display: block;
		position: fixed;
		z-index: -1;
		top: 0;
		width: 100vw;  // IE/Edge
		height: 100vh; // fallback
		width: 100vmax;
		height: 100vmax;
		background: rgba(0,0,0,0.05);
		animation: background 90s linear infinite;
	}

	&:after
	{
		left: 15vw;
	}

	&:before
	{
		right: 15vw;
		animation-delay: -30s;
		animation-direction: reverse;
	}
}
.container
{
	width: 1440px;
	margin: 0 auto;
}
.fullscreen
{
	width: 100%;
	min-height: 100vh;
}
.d-flex
{
	display: flex;
}
.flex-center
{
	justify-items: center;
	justify-content: center;
}
.content
{
	background-color: #F0F0F0;
	padding: 100px 0;
}
.title-area
{
	display: grid;
	grid-gap: 15px;
	padding: 50px 0;

	justify-content: center;
	text-align: center;
	justify-items: center;

	background: none;
}
/* ======================================================= */
/* ====================== </GENERAL> ===================== */
/* ======================================================= */





/* ======================================================= */
/* ======================= <PROFILE> ===================== */
/* ======================================================= */
.profile
{
	display: grid;
	grid-gap: 15px;
	justify-content: center;
	justify-items: center;
	align-content: center;
}
.profile__image
{
	width: 256px;
	height: 256px;
	overflow: hidden;
	border-radius: 128px;
}
.profile__image img
{
	width: 100%;
}
/* ======================================================= */
/* ======================= </PROFILE> ==================== */
/* ======================================================= */










/* ======================================================= */
/* ===================== <KEYFRAMES> ==================== */
/* ======================================================= */
@keyframes theme {
	0% {
		background: #74C390;
	}

	16% {
		background: #5DBDB6;
	}

	33% {
		background: #59D4E1;
	}

	50% {
		background: #51BCE8;
	}

	66% {
		background: #FA5374;
	}

	83% {
		background: #E46653;
	}

	100% {
		background: #74C390;
	}
}

@keyframes background {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* ======================================================= */
/* ===================== </KEYFRAMES> ==================== */
/* ======================================================= */